.barchart{
    flex: 4;
    box-shadow: 5px 2px 10px 5px grey;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 400px;
    padding: 10px;
   

    .chart-options{
        


    .chart-dropdown{
        justify-self: right;
        border: none;
        outline: none;
        border-radius: 4px;
        background-color: white;
        
  
  
    }}

    .al{
        display: flex;
        justify-content: space-between;
    }
    .chart1{
        display: flex;
        justify-content: center;
        border: none;
        outline: none;
    }
    .jc{
        color: rgb(255, 255, 255);
        
    }
    
}